.btn-inject
{
    position: absolute;
    bottom: 14px;
    right: 15px;
    width: 100px;
    height: 40px;
    background-color: #bd93f9;
    border-color: #bd93f9 !important;
    box-shadow: none;
    color: white;
    transition: all .3s;
}

.btn-inject:hover
{
    color: #000;
    background-color: #cca9fc;
    border-color: #cca9fc !important;
    transition: all .3s;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-inject:disabled{
    background-color: transparent;
    outline-color: #abacae;
    border-color: #abacae !important;
    box-shadow: none !important;
    color: #abacae !important;
    filter: brightness(66%);
    transform: none;
}

.btn-inject:focus
{
    color: #fff;
    background-color: #cca9fc;
    border-color: #cca9fc !important;
    transform: translateY(-2px);
    box-shadow: none!important;
}

.btn-bypass
{
    position: absolute;
    bottom: 61px;
    right: 15px;
    width: 100px;
    height: 60px;
    color: white !important;
    background-color: #28bca3;
    border-color: #28bca3 !important;
    transition: all .3s;
}
.btn-bypass:hover
{
    color: white;
    background-color: #8be9fd;
    border-color: #8be9fd !important;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-bypass:focus, .btn-bypass.focus
{
    color: white;
    background-color: #43d6b5;
    border-color: #43d6b5 !important;
    transform: translateY(6px);
}

.btn-bypass:disabled{
    background-color: #2a8874 !important;
    border-color: #2a8874 !important;
    box-shadow: none !important;
    color: white;
    transform: none;
}

.btn-outline-primary {
    outline-color: #b88af8 !important;
    border-color: #bd93f9 !important;
    box-shadow: none!important;
    color: #FFFFFF;
}

.btn-outline-primary:hover{
    background-color: #b88af8 !important;
    border-color: #bd93f9 !important;
    color: #000000;
    box-shadow: none!important;
}

.btn-outline-primary:active, .btn-outline-primary.active {
    background-color: #b88af8 !important;
    border-color: #bd93f9 !important;
    color: #ffffff;
    box-shadow: none!important;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}