@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  user-select: none;
}

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/


nav {
  min-width: 500px;
  min-height: 50px;
  background-color: #221e2c; }
  nav .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 55px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 26px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  nav .name {
    font-family: "Mulish", sans-serif;
    font-weight: 8750;
    font-size: 18px;
    color: white;
    text-align: center;
    line-height: 50px;
    margin: 0 auto;
  }
  nav .exit {
    font-family: "Mulish", sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: white; }


body {
  background-color: #191522;
  color: #17a2b8;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.cheats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 21px;
  width: 130px;
  margin-top: 20px;
  border-radius: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #9085FF;
  text-align: center;
  overflow: hidden;
}
.cheats-button {
  text-align: center;
  vertical-align: middle;
  padding: 0.955rem 0rem;
  background-color: transparent;
  font-size: 18px;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  color: white;
  height: 50px;
  padding-right: 11px;
  width: 141px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.cheats-button:hover {
  background-color: #736ACD !important;
}
.cheats-button:active, .cheats-button.active {
  background-color: #5B54A3;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

.flex2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 276px;
  min-height: 50px;
  margin-top: 16px;
  margin-right: 16px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.flex2 .bypass_button {
  position: absolute;
  bottom: 23px;
  right: 155px;
  width: 125px;
  min-height: 50px;
  background-color: #9085FF;
  color: #221E2C;
  font-size: 18px;
  font-weight: 700;
  font-family: "Mulish", sans-serif;
  border-radius: 5px;
  text-align: center;
  width: 125px;
  border: 1px solid transparent;
  overflow: hidden;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.flex2 .bypass_button:hover {
  color: #000;
  background-color: #655daf;
  transition: all .3s;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.flex2 .bypass_button:active {
  background-color: #C8C2FF;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.flex2 .inject_button {
  position: absolute;
  bottom: 23px;
  right: 15px;
  width: 125px;
  min-height: 50px;
  background-color: #9085FF;
  color: #221E2C;
  font-size: 18px;
  font-weight: 700;
  font-family: "Mulish", sans-serif;
  border-radius: 5px;
  text-align: center;
  border: 1px solid transparent;
  overflow: hidden;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.flex2 .inject_button:hover {
  color: #000;
  background-color: #655daf;
  transition: all .3s;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.flex2 .inject_button:active {
  background-color: #C8C2FF;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.flex2 .inject_button:disabled {
  background-color: transparent;
  outline-color: #abacae;
  color: #abacae;
  border-color: #abacae;
}


input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
::-webkit-scrollbar {
  width: 0;
}


@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}


.detect-status{
  position: fixed;
  left: 165px;
  top: 75px;
  font-family: "Mulish";
  font-weight: 800;
  font-size: 18px;
}

.cheat-info{
  position: fixed;
  left: 165px;
  width: 200px;
  top: 120px;
  font-family: "Mulish";
  font-weight: 800;
  font-size: 18px;
}

.text-success {
  color: #28a745 !important;
}

.text-danger {
  color: #dc3545 !important;
}

.text-warning {
  color: #ffc107 !important;
}